---
layout: default
title: 我的blog
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in paginator.posts %}
            <div class="post-preview">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <h2 class="post-title">
                           {{ post.title }}
                        </h2>
                    <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{ post.author }}</a>  {{ post.date | date_to_string }} </p>
            </div>
            <hr>
            {% endfor %}
            <!-- 分页 -->

            <!-- <div id="post-pagination" class="pagination">
              {% if paginator.previous_page %}
                <p class="previous">
                  {% if paginator.previous_page == 1 %}
                    <a href="/">Previous</a>
                  {% else %}
                    <a href="{{ paginator.previous_page_path }}">Previous</a>
                  {% endif %}
                </p>
              {% else %}
                <p class="previous disabled">
                  <span>Previous</span>
                </p>
              {% endif %}

              <ul class="pages">
                <li class="page">
                  {% if paginator.page == 1 %}
                    <span class="current-page">1</span>
                  {% else %}
                    <a href="/">1</a>
                  {% endif %}
                </li>

                {% for count in (2..paginator.total_pages) %}
                  <li class="page">
                    {% if count == paginator.page %}
                      <span class="current-page">{{ count }}</span>
                    {% else %}
                      <a href="/page{{ count }}">{{ count }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              {% if paginator.next_page %}
                <p class="next">
                  <a href="{{ paginator.next_page_path }}">Next</a>
                </p>
              {% else %}
                <p class="next disabled">
                  <span>Next</span>
                </p>
              {% endif %}

            </div>
        </div> -->
        <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
</div>
<hr>
