<script src={{ site.baseurl }}/dist/vendor/js/jquery.min.js></script>
<script src={{ site.baseurl }}/dist/vendor/js/bootstrap.min.js></script>
<script src={{ site.baseurl }}/dist/vendor/js/highlight.pack.js></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'dududublog';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255990408'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255990408' type='text/javascript'%3E%3C/script%3E"));</script>